@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700');

/*********** Global Styles********/

body, html {
	margin: 0;
	background-color: rgb(11, 36, 73);	
}
header{
	height: 100px;	
}
header {
	background-color: rgba(26, 93, 194, 0.8);
	padding: 2em 4em 2em;
	background-image: url(/assets/images/blue-globe-glowing-atmosphere-wallpaper.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 50%;
}
header img{
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif !important;
	font-weight: 1500 !important;
}

.wrapper {
	background-color:  #E3E3E3;
}
#about{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img-circle {
	border-radius: 50%;
}
.profile-photo{
	-moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.my-button {
	font-size: 1em;
	line-height: normal;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out, color 0.2s 0.3s;
	letter-spacing: 0;
	border-radius: 45px;
	height: auto;
	padding: .8em 2.1em;
}

.my-button:hover {
	cursor: pointer;
	padding: .8em 2.7em;
}

/*** thin bar ***/

.thin-bar {
		
	border-bottom: 5px solid rgb(118, 129, 145);
	color: rgb(118, 129, 145);
}


/*** About Section ***/

#about {
		background-color: white;
		padding-bottom: 1em;
}

#about img {
		max-width: 15em;
		position: relative;
		bottom: 7.5em;
}

/* small-12 large-8 large-offset-2 columns text-center */
.text-center{
	text-align: center;
}

#about h2 {
		color: #646464;
		font-size: 3.8em;
}
#about h3 {
		/* margin-top: 1em; */
		color: #646464;
		font-family: "roboto";
		font-weight: 400;
		margin-bottom: 2.5em;
}

.cta .cta-button {
		text-transform: uppercase;
		border-radius: 50px;
		color: rgba(230, 57, 70, 0.91);
		border: 2px solid rgba(230, 57, 70, 0.91) !important;
		background-color: #fff;
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
}

.cta .cta-button:hover, .cta .cta-button:focus {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
		background-color: rgba(230, 57, 70, 0.91) !important;
		color: #fff;
}

#about i {
	margin-top: 1em;
	color: #646464;
}


/*** Experience ***/
#experience Icon{
	font-size: 40px;
}
#experience {
	background-color: rgba(26, 93, 194, 0.8);
	padding: 2em 4em 2em;
	background-image: url(/assets/images/blue-globe-glowing-atmosphere-wallpaper.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 50%;		
}

#experienceInner{
	background-color: rgba(26, 93, 194, 0.8);
	border-radius: 20px;
	padding: 20px 0px;
	width: 85vw;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;	
}
#experienceGrid{
	width: 70vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 auto;	
}

#experienceGrid li{
	font-size: 16px;
}

#experienceGrid h3{
	font-size: 31px;
	margin: 0 auto;
} 


#experience h2 {
	color: #fff;
	margin-bottom: .7em;
	font-size: 40px;
}

#experience .tag-line {
	color: white;
	font-size: 1.4em;
}

#experience i {
	color: rgb(11, 36, 73);
	font-size: 4em;
}

#experience h3 {
	color: #fff;
}

#experience p {
	color: #ACAEB2;
	font-family: "Maven pro", sans-serif;
	/*font-weight: 500;*/
}

#experience ul li {
	list-style: none;
	color: #bbd2ff;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
}

/*** work ***/
#work {
	padding: 6em 4em 3em;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

#work h2 {
	color: #E63946;
	margin-bottom: .7em;
	text-transform: uppercase;
	font-size: 30px;
	
}


#work .tag-line {
	color: #767779;
	font-size: 1.4em;
	margin-bottom: 4em;
	font-family: Helvetica, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

#work .grid {
	margin-bottom: 5.5em;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	align-content: center;
	color: rgb(115, 129, 130);	
	row-gap: 45px;
	
}
#work .grid .gridImg{
	margin: 0 auto;
	
}
#work .grid .gridNotes{
	margin-left: 20%;
}
#work .grid img{
	border-radius: 20px;
	height: 350px;
}
#work .grid img:hover{
	transform: scale(1.3);			
}
#work .grid Icon{
	color: #E63946;	
	margin-top: 10px;
}
#work .grid .platform{
	color: #E63946;
	font-size: 0.8em;
	text-transform: uppercase;
	margin: 2em 0 -0.1em;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
		
}

#work .grid h3 {
	color: #738182;
	text-transform: uppercase;
	font-size: 30px;
}

#work .grid .gridDetail {
	color: #738182;
	/* font-family: "Maven pro", sans-serif; */
	font-family: Helvetica, sans-serif;
	font-weight: 500;
	font-size: 1.2em;
	margin-bottom: 1.8em;
}

#work .grid a, #work .grid a:link, #work .grid a:active{
	color: rgba(230, 57, 70, 0.91);
	border: 2px solid rgba(230, 57, 70, 0.91) !important;
	background-color: #fff;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
}

#work .grid a:hover, #work .grid a:focus {
	/*box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);*/
	background-color: rgba(230, 57, 70, 0.91) !important;
	color: #fff;
}

/*** other projects ***/
#other-projects{
	display: flex;
	justify-content: center;
	align-content: space-around;
	background-color: white;
	margin-bottom: 40px;
	flex-wrap: wrap;

}
.tasks{
	background-color: white;
	border-radius: 20px;
	width: 250px;
	height: 250px;
	-moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
	margin: 20px;
	margin-bottom: 80px;

}
.tasks img{
	width: 100%; 
    height: 100%; 
    object-fit: cover;
	overflow: hidden;
	border-radius: 20px;		
}
.tasks:hover{
	transform: scale(1.5);			
}

/*** teaching ***/
#teaching {
	/* padding: 1em 2em 1em; */
	background-color:  #E3E3E3;
}

#teaching h2 {
	margin: 0;
	color: #767779;
	font-weight: 900 !important;
	text-transform: uppercase;
	font-size: 30px;
}

#teaching .tag-line {
	color: #767779;
	font-size: 1.4em;
	font-family: Helvetica, sans-serif;
	font-weight: 500;
}

#teaching .teaching-domains {
	height: 100px;
	width: auto;
	margin-top: -4em;
}
/*** Footer Call-to-action ***/
#footer-cta {
	padding: 3em 4em 4em;
	background-image: linear-gradient(#E63744, #EB646F);
}

#footer-cta h2 {
	color: white;
	margin-bottom: .7em;
	text-transform: uppercase;
	font-size: 25px;
	
}

#footer-cta p {
	color: #fff;
	font-size: 1.3em;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
}

#startButtonDiv {
	margin-top: 3em;
}

#footer-cta a {
	border: 2px solid #fff;
	border-radius: 45px;
	color: #fff;
}

#footer-cta a:hover {
	background: #fff;
	color: rgba(255, 103, 68, 0.91);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
}

/*** footer starts ***/

#footer {
	padding: 3em 4em 2em;
	background-color:  #E3E3E3;
}

#footer #logo {
	background-color: #E63744;
	border-radius: 50%;
	color: #fff;
	padding: .4em;
	font-family: "Maven pro", sans-serif;
	font-size: 1.6em;
	font-weight: 500;
	display: inline;
}

#footer #copyright {
	margin-top: 1.6em;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
	color: #7d7d7d;
}


.profile-photo {
	width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    margin-top: -100px;
    margin-bottom: 40px;

}
#footer-cta{
	background-color: #e63946ff;
}
